.table-container{
    margin-top: 200px;
    margin: auto;
    text-align: center;
}

.bom-list-table{
    border-collapse: collapse;
    margin: 50px auto;
    min-width: 400px;
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border: none;
}

.bom-list-table thead tr{
    background-color: #0ab1a8;
    color: white;
    text-align: left;
    font-weight: bold;
}

.bom-list-table th,
.bom-list-table td{
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
}

.bom-list-table tbody tr{
    border-bottom: 1px solid #ddd;
}

.bom-list-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.bom-list-table tbody tr:last-of-type{
    border-bottom: 2px solid #0ab1a8;
}

.bom-list-table tbody tr.active-row{
    font-weight: bold;
    color: #0ab1a8;
}

.table-container button,
input[type="submit"]{
    border: none;
    border-radius: 2px;
    background-color: #0ab1a8;
    color: white;
    font-weight: bold;
    padding: 6px 8px;
    text-decoration: none;
    margin: 5px;
    width: 70px;
}

.table-container button:hover,
.table-container input:hover{
    cursor: pointer;
}

.table-container button:disabled{
    background-color: rgb(163, 163, 163);
    cursor: default;
}

.bom-list-table input:not([type="submit"]){
    width: 100px;
}

.error-text{
    text-align: center;
    color: red;
}

.bom-list-table tr > *:nth-child(1) {
    display: none;
}

.button-spinner{
    margin: 5px;
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

td.button-cell{
    display: flex;
    border: none;
}